

body
{
    font-family: Verdana;
    font-size: 12px;
    background-color:   #F5FAFA;
}

textarea
{
/*     padding: 5px; */
}

table
{
	border : none;
	
}

select
{
    border: solid 1px black; 
    background-color: white;
    font-size: small; 
    font-family: Courier;
    padding: 4px; 
    margin: 2px;
}

.topAligned{
	vertical-align: top;
}
input[type="text"],input[type="password"]
{    
    font-size: small; 
     border: solid 1px black;  

    /*background: #ffffff;  */
    padding: 5px;
    margin: 3px;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="file"]:hover
{
    background-color: #afb3ff;
    cursor: pointer;
}
input[type="submit"],input[type="button"],input[type="file"]
{
     border: solid 1px black; 
    padding: 7px;
/*     padding-left: 10px; */
/*     padding-right: 10px; */
    background-color:   #eeeeff;
    text-overflow: ellipsis;
    font-family: Verdana;
    font-weight: bold;
    
}
.categoryBrowser
{
	width:100%;
    background-color: #D3D3D3;
    padding-bottom: 30px;
    padding-top: 20px;
}

.brandPanel
{
	width:100%;
    background-color: #AFF5F5;
    padding-bottom: 30px;
    padding-top: 20px;
}


.featureGroups
{
	width:100%;
    background-color: #C1DAD6;
    padding-bottom: 30px;
    padding-top: 20px;
}

.featurePanel
{
	width:100%;
    background-color: #E8D0A9;
    padding-bottom: 30px;
    padding-top: 20px;
}

.allForms{
	vertical-align: top;
}
.heading{
	font-weight: bold;
	font-size: 16px;
}

