<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:panelGrid class="brandPanel">
		<h:outputText value="Brands"
			style="font-weight: bold; font-size: 25px; margin-left: 45%;" />
		<h:outputText value="Add Brand" />
		<h:panelGrid columns="4">

			<h:outputLabel value="Brand Name" />
			<h:inputText value="#{brandPM.newBrand.brandName}" />
			<h:outputLabel value="Description" />
			<h:inputText value="#{brandPM.newBrand.description}" />
		</h:panelGrid>
		<h:commandButton value="Add Brand" action="#{brandVB.addBrand}">
			<f:ajax execute="@form" render="@form" />
		</h:commandButton>

		<br />

	<h:outputText value="Brand" />
		<h:selectOneMenu value="#{brandPM.selectedBrandId}"
			var="b2" border="1">
			<f:selectItem itemLabel="Select Brand" itemValue="-2" />
			<f:selectItems value="#{brandPM.brandsList}" var="brnd"
				itemLabel="#{brnd.brandName}" itemValue="#{brnd.brandId}" />
		</h:selectOneMenu>


		<h:dataTable value="#{brandPM.brandsList}" var="b" 
			binding="#{table1}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Brand Name" />
				</f:facet>
				<h:inputText value="#{b.brandName}" />

			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:inputText value="#{b.description}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Update" />
				</f:facet>
				<h:commandButton value="Update"
					action="#{brandVB.updateBrand(table1.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Delete" />
				</f:facet>
				<h:commandButton value="Delete"
					action="#{brandVB.deleteBrand(table1.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
		</h:dataTable>
	</h:panelGrid>
</ui:composition>