<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body> 
        <h:form id="itemBrowser"> 
            <h:panelGrid id="Categories">
                <h:dataTable value="#{classesPM.classDetailsList}" var="classDetails" binding="#{classTable}">
                    <h:column>
                        <h:selectOneMenu value="#{classDetails.selectedId}" rendered="#{classDetails.availableClasses.size() gt 0}">                            
                            <f:selectItem itemLabel="Select Class" itemValue="-2"/>
                            <f:selectItems value="#{classDetails.availableClasses}" 
                                           var="options" 
                                           itemLabel="#{options.name}"
                                           itemValue="#{options.id}"/>
                            <f:ajax event="change" 
                                    execute="@form" 
                                    listener="#{classesVB.selectSubClass(classTable.rowIndex)}"
                                    render="@form"/>

                        </h:selectOneMenu>
                    </h:column>
                </h:dataTable>       

                <h:commandButton value="Fetch Items" action="#{browseVB.updateList()}">
                    <f:ajax execute="@form" render="@form" />                    
                </h:commandButton>
            </h:panelGrid>
            <h:panelGrid>
                <h:dataTable value="#{browsePM.itemList}" var="item">
                    <h:column>   
                        <f:facet name="header">Item Id</f:facet>
                        <h:outputText value="#{item.id}"/>                        
                    </h:column>
                    <h:column> 
                        <f:facet name="header">Item Title</f:facet>
                        <h:outputText value="#{item.title}"/>
                    </h:column>
                    <h:column>    
                        <f:facet name="header">Fetch Status</f:facet>
                        <h:outputText value="#{item.status}"/>                        
                    </h:column> 
                    <h:column>
                        <f:facet name="header">Total Features</f:facet>                        
                        <h:outputText value="#{item.itemFeatures.featuresList.size()}"/>                                
                    </h:column>      
                </h:dataTable>

            </h:panelGrid>              
        </h:form > 
    </h:body>
</html>

