<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

 <h:outputStylesheet name="Generic.css"/>
<h:head>
<f:metadata>
		<f:viewParam name="category" value="#{categoryDetailsPM.selectedCategoryParam}" />
		<f:event type="preRenderView" listener="#{categoryDetailsPM.init}" />
	</f:metadata>
</h:head>
<h:body>
	<h:form id="categories" >
		<h:outputStylesheet />
		<h:panelGroup id="allComponents">

			<ui:include src="categoryBrowser.xhtml" />
			
			<ui:include src="brands.xhtml" />
			
			<ui:include src="featureGroups.xhtml" />
			
			<ui:include src="features.xhtml" />
			
			<!-- <ui:include src="items.xhtml" />-->
		</h:panelGroup>
	</h:form>

</h:body>
</html>