<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core">    
    <h:outputStylesheet /> 
	<h:outputStylesheet name="Generic.css" />
        <h:panelGrid id="Categories">
            <h:dataTable value="#{classesPM.classDetailsList}" var="classDetails" binding="#{classTable}">
                <h:column>
                    <h:selectOneMenu value="#{classDetails.selectedId}" rendered="#{classDetails.availableClasses.size() gt 0}">                            
                        <f:selectItem itemLabel="Select Class" itemValue="-2"/>
                        <f:selectItems value="#{classDetails.availableClasses}" 
                                       var="options" 
                                       itemLabel="#{options.name}"
                                       itemValue="#{options.id}"/>
                        <f:ajax event="change" 
                                execute="@form" 
                                listener="#{classesVB.selectSubClass(classTable.rowIndex)}"
                                render="@form"/>

                    </h:selectOneMenu>
                </h:column>
            </h:dataTable>
            
            <h:commandButton value="Save and Proceed" action="#{classesVB.saveToSession}">
                <f:ajax execute="@form" render="@form" />
            </h:commandButton>
            <br /><br /><hr />            
            <h:outputLabel value="New Class: "/>
            <h:inputText value="#{classesPM.newClass}"/>
            <h:commandButton value="Add Class" action="#{classesVB.addNewClass}">
                <f:ajax execute="@form" render="@form" />
            </h:commandButton>
        </h:panelGrid>

</ui:composition>