<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
<h:outputStylesheet name="Generic.css"/>
	<h:panelGrid id="Categories"  class="categoryBrowser" >
	<h:outputText value="Categories" style="font-weight: bold; font-size: 25px; margin-left: 15%;" />
		<h:panelGrid>
			<h:outputText value="Select Category" />
			<h:dataTable value="#{categoryDetailsPM.categorySelectedList}"
				var="classDetails" binding="#{classTable1}">
				<h:column>
					<h:selectOneMenu value="#{classDetails.selectedCategoryId}"
						rendered="#{classDetails.children.size() gt 0}"
						style="margin-left: #{classTable1.rowIndex * 10}px; border: none;">
						<f:selectItem itemLabel="Select Class" itemValue="-2" />
						<f:selectItems
							value="#{classDetails.children.entrySet().toArray()}"
							var="options" itemLabel="#{options.value.categoryName}"
							itemValue="#{options.key}" />
						<f:ajax event="change" execute="@form"
							listener="#{categoryDetailsVB.selectSubClass(classTable1.rowIndex)}"
							render="@form" />
					</h:selectOneMenu>
				</h:column>
			</h:dataTable>
		</h:panelGrid>
		<h:panelGrid columns="2">
			<h:outputLabel value="Cateyory Name"></h:outputLabel>
			<h:inputText
				value="#{categoryDetailsPM.newCategoryDetails.categoryName}">
			</h:inputText>

			<h:outputLabel value="Description"></h:outputLabel>
			<h:inputText
				value="#{categoryDetailsPM.newCategoryDetails.description}"></h:inputText>

		</h:panelGrid>
		<h:panelGrid columns="2">
		<h:commandButton value="Add Category"
			action="#{categoryDetailsVB.addCategory}">
			<f:ajax execute="@form" render="@form" />
		</h:commandButton>

		<h:button value="Add/Edit Items"
			outcome="itemsUpdate?faces-redirect=true" includeViewParams="true">
			<f:param name="category"
				value="#{categoryDetailsPM.selectedCategory.categoryId}" />
		</h:button>
		</h:panelGrid>
	</h:panelGrid>

</ui:composition>