<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:panelGrid class="featurePanel">
		<h:outputText value="Features"
			style="font-weight: bold; font-size: 25px; margin-left: 45%;" />

		<h:outputText value="Add Feature" />
		<h:panelGrid columns="8">
			<h:outputText value="Feature Name" />
			<h:inputText value="#{featurePM.newFeature.featureId}" />

			<h:outputText value="Priority" />
			<h:inputText value="#{featurePM.newFeature.priority}" />

			<h:outputText value="Max Value" />
			<h:inputText value="#{featurePM.newFeature.maxValue}" />

			<h:outputText value="Min Value" />
			<h:inputText value="#{featurePM.newFeature.minValue}" />

			<h:outputText value="Unit" />
			<h:inputText value="#{featurePM.newFeature.unit}" />

			<h:outputText value="Group" />
			<h:selectOneMenu value="#{featurePM.newFeature.groupId}">
				<f:selectItem itemLabel="Select Group" itemValue="" />
				<f:selectItems value="#{featureGroupPM.groupsList}" var="group3"
					itemLabel="#{group3.groupDetails.groupId}"
					itemValue="#{group3.groupDetails.groupId}" />
			</h:selectOneMenu>

			<h:outputText value="Description" />
			<h:inputText value="#{featurePM.newFeature.description}" />

			<h:panelGrid columns="2">
				<h:commandButton value="Add" action="#{featureVB.addFeature}"
					style="float: right;">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
				<!-- <h:button value="Add/Edit Values"
					outcome="valuesedit?faces-redirect=true" includeViewParams="true">
					<f:param name="feature" value="#{feature.featureDetails.featureId}" />
					<f:param name="category"
						value="#{feature.featureDetails.categoryId}" />
				</h:button> -->
			</h:panelGrid>
		</h:panelGrid>


		<h:dataTable value="#{featurePM.featuresList}"
			var="feature" binding="#{featureTable}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Feature Name"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.featureId}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Priority"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.priority}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Max Value"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.maxValue}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Min Value"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.minValue}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Unit"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.unit}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Group"></h:outputText>
				</f:facet>
				<h:selectOneMenu value="#{feature.featureDetails.groupId}">
					<f:selectItem itemLabel="Select Group" itemValue="-2" />
					<f:selectItems value="#{featureGroupPM.groupsList}" var="group2"
						itemLabel="#{group2.groupDetails.groupId}"
						itemValue="#{group2.groupDetails.groupId}" />
				</h:selectOneMenu>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Description"></h:outputText>
				</f:facet>
				<h:inputText value="#{feature.featureDetails.description}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Update"></h:outputText>
				</f:facet>
				<h:commandButton value="Update"
					action="#{featureVB.updateFeature(featureTable.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Delete"></h:outputText>
				</f:facet>
				<h:commandButton value="Delete"
					action="#{featureVB.deleteFeature(featureTable.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Add Value"></h:outputText>
				</f:facet>
				<h:button value="Add/Edit Values"
					outcome="valuesedit?faces-redirect=true" includeViewParams="true">
					<f:param name="feature" value="#{feature.featureDetails.featureId}" />
					<f:param name="category"
						value="#{feature.featureDetails.categoryId}" />
				</h:button>
			</h:column>
		</h:dataTable>

	</h:panelGrid>

</ui:composition>