<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Facelet Title</title>
	<h:outputStylesheet name="Generic.css" />
</h:head>
<h:body>

	<h:form id="detailsExtractor">
		<h:panelGrid>

			<h:outputLabel
				value="Soruce Name: #{detailsExtractorPM.sourceDetails.sourceName}" />

			<h:selectOneMenu id="itemsList"
				value="#{detailsExtractorPM.selecteItemSno}" rendered="true"
				requiredMessage="Please select one.">
				<f:selectItems value="#{detailsExtractorPM.itemListForSelection}"
					var="item" itemValue="#{item.SNo}" itemLabel="#{item.itemName}" />
			</h:selectOneMenu>
			<hr />
			<h:outputLabel value="Steps" style="font-weight: bold;" />
			<h:inputText value="#{detailsExtractorPM.steps.name}" />
			<h:commandButton value="Save Extrection Steps" action="#{extractionStepsVB.saveSptes}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>			
			<h:panelGrid columns="1" style="border: 1px black solid">
				<h:panelGrid columns="2">
					<h:outputLabel value="Root Properties" />
					<h:commandButton value="Add Element"
						action="#{detailsExtractionVB.addNewElement(detailsExtractorPM.rootElemProps)}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</h:panelGrid>
				<h:dataTable id="rootElementProperties"
					value="#{detailsExtractorPM.rootElemProps.properties}"
					var="rootProps" binding="#{rootTable}" style="margin-left: 20px;">
					<h:column>
						<h:panelGrid style="margin-left: #{rootTable.rowIndex*20}px">
							<h:panelGrid columns="2">
								<h:outputLabel value="Element #{rootTable.rowIndex}" />
								<h:commandButton value="Add Property"
									action="#{detailsExtractionVB.addNewProperty(rootProps)}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
							</h:panelGrid>
							<h:dataTable value="#{rootProps.propList}" var="prop1"
								style="margin-left: 40px; border: 1px black solid">
								<h:column>
									<h:selectOneMenu value="#{prop1.key}">
										<f:selectItem itemLabel="Select ID" itemValue="" />
										<f:selectItems value="#{extractor.propOptionsList}" var="key1"
											itemValue="#{key1}" itemLabel="#{key1}" />
									</h:selectOneMenu>
								</h:column>
								<h:column>
									<h:inputText value="#{prop1.value}"></h:inputText>
								</h:column>
							</h:dataTable>
						</h:panelGrid>
					</h:column>
				</h:dataTable>
			</h:panelGrid>

			<h:panelGrid columns="1" style="border: 1px black solid">
				<h:panelGrid columns="2">
					<h:outputLabel value="Attribute key Properties" />
					<h:commandButton value="Add Element"
						action="#{detailsExtractionVB.addNewElement(detailsExtractorPM.attrKeyElemProps)}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</h:panelGrid>
				<h:dataTable id="keyElementProperties"
					value="#{detailsExtractorPM.attrKeyElemProps.properties}"
					style="margin-left: 10px; " var="keyProps" binding="#{keyTable}">
					<h:column>
						<h:panelGrid style="margin-left: #{keyTable.rowIndex*20}px">
							<h:panelGrid columns="2">
								<h:outputLabel value="Element #{keyTable.rowIndex}" />
								<h:commandButton value="Add Property"
									action="#{detailsExtractionVB.addNewProperty(keyProps)}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
							</h:panelGrid>
							<h:dataTable value="#{keyProps.propList}"
								style="margin-left: 40px; border: 1px black solid" var="prop2">
								<h:column>
									<h:selectOneMenu value="#{prop2.key}">
										<f:selectItem itemLabel="Select ID" itemValue="" />
										<f:selectItems value="#{detailsExtractorPM.propOptionsList}"
											var="key2" itemValue="#{key2}" itemLabel="#{key2}" />
									</h:selectOneMenu>
								</h:column>
								<h:column>
									<h:inputText value="#{prop2.value}"></h:inputText>
								</h:column>
							</h:dataTable>
						</h:panelGrid>
					</h:column>
				</h:dataTable>
			</h:panelGrid>

			<h:panelGrid columns="1" style="border: 1px black solid">
				<h:panelGrid columns="2">
					<h:outputLabel value="Attribute Value Properties" />
					<h:commandButton value="Add Element"
						action="#{detailsExtractionVB.addNewElement(detailsExtractorPM.attrValueElemProps)}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</h:panelGrid>
				<h:dataTable id="valueElementProperties"
					value="#{detailsExtractorPM.attrValueElemProps.properties}"
					style="margin-left: 10px; " var="valueProps"
					binding="#{valueTable}">
					<h:column>
						<h:panelGrid style="margin-left: #{valueTable.rowIndex*20}px">
							<h:panelGrid columns="2">
								<h:outputLabel value="Element #{valueTable.rowIndex}" />
								<h:commandButton value="Add Property"
									action="#{detailsExtractionVB.addNewProperty(valueProps)}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
							</h:panelGrid>
							<h:dataTable value="#{valueProps.propList}"
								style="margin-left: 40px; border: 1px black solid" var="prop3">
								<h:column>
									<h:selectOneMenu value="#{prop3.key}">
										<f:selectItem itemLabel="Select ID" itemValue="" />
										<f:selectItems value="#{detailsExtractorPM.propOptionsList}"
											var="key3" itemValue="#{key3}" itemLabel="#{key3}" />
									</h:selectOneMenu>
								</h:column>
								<h:column>
									<h:inputText value="#{prop3.value}"></h:inputText>
								</h:column>
							</h:dataTable>
						</h:panelGrid>
					</h:column>
				</h:dataTable>
			</h:panelGrid>



			<h:commandButton value="Fetch Features"
				action="#{detailsExtractionVB.fetchAttributes}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>

			<h:commandButton value="Save" action="#{detailsExtractionVB.save}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>

			<h:dataTable value="#{detailsExtractorPM.features.featuresList}"
				var="features">
				<h:column>
					<h:outputLabel value="#{features.key}" />
				</h:column>
				<h:column>
					<h:outputLabel value="#{features.value}" />
				</h:column>
			</h:dataTable>

		</h:panelGrid>

		
	</h:form>

</h:body>
</html>

