<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="template/ui.xhtml">
<h:head>
	<title>Fetch Item Source</title>
	<h:outputStylesheet name="Generic.css" />
</h:head>
<h:body>
	<h:form id="listExtractor">
		<h:panelGrid>

			<h:outputLabel value="Title" />
			<h:inputText id="Title" value="#{extractor.itmesSoruce.title}"></h:inputText>

			<h:outputLabel value="Soruce Name" />
			<h:inputText id="sourceName"
				value="#{extractor.itmesSoruce.sourceName}" required="true"
				requiredMessage="Must set. Used to distinguesh between 2 sources. e.g. Amazon"></h:inputText>

			<h:outputLabel value="Steps" />
			<h:inputText value="#{extractionStepsPM.selecetedStep.name}" />
			<h:selectOneMenu value="#{extractionStepsPM.selectedStepId}">
				<f:selectItem itemLabel="Select Steps" itemValue="-1" />
				<f:selectItems value="#{extractionStepsPM.stepsList}" var="step"
					itemValue="#{step.stepsId}" itemLabel="#{step.name}" />
				<f:ajax listener="#{extractionStepsVB.updateSteps}" render="@form"
					event="change" />
			</h:selectOneMenu>

			<h:panelGrid columns="2">
				<h:panelGrid columns="1" style="border: 1px black solid">
					<h:panelGrid columns="2">
						<h:outputLabel value="Root Properties" />
						<h:commandButton value="Add Element"
							action="#{extractorVB.addNewElement(extractor.rootElementProperties)}">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
					</h:panelGrid>
					<h:dataTable id="rootElementProperties"
						value="#{extractor.rootElementProperties.properties}"
						var="rootProps" binding="#{rootTable}" style="margin-left: 20px;">
						<h:column>
							<h:panelGrid style="margin-left: #{rootTable.rowIndex*20}px">
								<h:panelGrid columns="2">
									<h:outputLabel value="Element #{rootTable.rowIndex}" />
									<h:commandButton value="Add Property"
										action="#{extractorVB.addNewProperty(rootProps)}">
										<f:ajax execute="@form" render="@form" />
									</h:commandButton>
								</h:panelGrid>
								<h:dataTable value="#{rootProps.propList}" var="prop"
									style="margin-left: 40px; border: 1px black solid">
									<h:column>
										<h:selectOneMenu value="#{prop.key}">
											<f:selectItem itemLabel="Select ID" itemValue="" />
											<f:selectItems value="#{extractor.propOptionsList}" var="key"
												itemValue="#{key}" itemLabel="#{key}" />
										</h:selectOneMenu>
									</h:column>
									<h:column>
										<h:inputText value="#{prop.value}"></h:inputText>
									</h:column>
								</h:dataTable>
							</h:panelGrid>
						</h:column>
					</h:dataTable>
				</h:panelGrid>
				<h:panelGrid columns="1" style="border: 1px black solid">
					<h:panelGrid columns="2">
						<h:outputLabel value="Items List Properties" />
						<h:commandButton value="Add Element"
							action="#{extractorVB.addNewElement(extractor.itemsElementProperties)}">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
					</h:panelGrid>
					<h:dataTable id="itemsElementProperties"
						value="#{extractor.itemsElementProperties.properties}"
						style="margin-left: 10px; " var="itemsprops"
						binding="#{itemsTable}">
						<h:column>
							<h:panelGrid style="margin-left: #{itemsTable.rowIndex*20}px">
								<h:panelGrid columns="2">
									<h:outputLabel value="Element #{itemsTable.rowIndex}" />
									<h:commandButton value="Add Property"
										action="#{extractorVB.addNewProperty(itemsprops)}">
										<f:ajax execute="@form" render="@form" />
									</h:commandButton>
								</h:panelGrid>
								<h:dataTable value="#{itemsprops.propList}"
									style="margin-left: 40px; border: 1px black solid" var="prop">
									<h:column>
										<h:selectOneMenu value="#{prop.key}">
											<f:selectItem itemLabel="Select ID" itemValue="" />
											<f:selectItems value="#{extractor.propOptionsList}" var="key"
												itemValue="#{key}" itemLabel="#{key}" />
										</h:selectOneMenu>
									</h:column>
									<h:column>
										<h:inputText value="#{prop.value}"></h:inputText>
									</h:column>
								</h:dataTable>
							</h:panelGrid>
						</h:column>
					</h:dataTable>
				</h:panelGrid>
			</h:panelGrid>

			<h:commandButton value="Fetch Items"
				actionListener="#{extractorVB.extractItemList}">

			</h:commandButton>

			<h:dataTable id="itemsListTable" value="#{extractor.itemDetailsList}"
				var="item">
				<h:column>
					<f:facet name="header">
						<h:commandButton value="All">
							<f:ajax listener="#{extractorVB.selecteAllItems}" render="@form" execute="@form"/>
						</h:commandButton>
						<h:commandButton value="None">
							<f:ajax listener="#{extractorVB.deSelecteAllItems}" render="@form" execute="@form"/>
						</h:commandButton>
					</f:facet>
					<h:selectBooleanCheckbox value="#{item.valid}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Model Name"></h:outputText>
					</f:facet>
					<h:outputLabel value="#{item.title}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Link"></h:outputText>
					</f:facet>
					<h:outputLabel value="#{item.sourceLink}" />
				</h:column>
			</h:dataTable>
		</h:panelGrid>
		<h:commandButton value="Save and Proceed"
			actionListener="#{extractorVB.saveToSession}">

		</h:commandButton>

	</h:form>
</h:body>
</html>