<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:outputText value="Add Items" />

	<br />
	<h:panelGrid columns="2">
		<h:outputText value="Model Name" />
		<h:inputText value="#{itemsPM.PMNewItem.iDetails.modelName}" />

		<h:outputText value="Brand" />
		<h:selectOneMenu value="#{itemsPM.PMNewItem.iDetails.brandId}"
			var="b2" border="1">
			<f:selectItem itemLabel="Select Brand" itemValue="-2" />
			<f:selectItems value="#{brandPM.brandsList}" var="brnd"
				itemLabel="#{brnd.brandName}" itemValue="#{brnd.brandId}" />
		</h:selectOneMenu>
	</h:panelGrid>

	<h:dataTable value="#{itemsPM.PMNewItem.featureValues}"
		binding="#{newiDetailTable}" var="nfvalue">
		<h:column>
			<h:outputLabel
				value="#{nfvalue.feature}" />
		</h:column>

		<h:column>
			<h:inputText value="#{nfvalue.value}" />
		</h:column>
		<h:column>
			<h:outputLabel value="#{nfvalue.unit}" />
		</h:column>
	</h:dataTable>
	<h:commandButton value="Add Item" action="#{itemsVB.addItem}">

	</h:commandButton>

	<h:dataTable border="1" value="#{itemsPM.PMItemsList}" var="item"
		binding="#{itemTable_update}">
		<h:column>
			<f:facet name="header">
				<h:outputText value="Model Name"></h:outputText>
			</f:facet>
			<h:inputText value="#{item.iDetails.modelName}" />
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Brand"></h:outputText>
			</f:facet>
			<h:selectOneMenu value="#{item.iDetails.brandId}" border="1">
				<f:selectItem itemLabel="Select Brand" itemValue="-2" />
				<f:selectItems value="#{brandPM.brandsList}" var="brnd3"
					itemLabel="#{brnd3.brandName}" itemValue="#{brnd3.brandId}" />
			</h:selectOneMenu>
		</h:column>

		<h:column>
			<h:inputFile id="file" value="#{item.file}" />
			<h:commandButton value="Upload"
				action="#{itemsVB.upload(item)}">
				<f:ajax render="@form" execute="@form"/>
			</h:commandButton>


			<h:dataTable value="#{item.images}" var="image">
				<h:column>
					<h:graphicImage style="width: 200px; height: 200px"
						library="#{item.iDetails.primaryImages}/#{item.iDetails.itemId}"
						name="#{image}" />
				</h:column>
			</h:dataTable>

		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Features"></h:outputText>
			</f:facet>
			<h:dataTable value="#{item.featureValues}"
				binding="#{itemDetailTable1}" var="fvalue2">
				<h:column>
					<h:outputLabel
						value="#{fvalue2.feature}" />
					<h:inputText value="#{fvalue2.value}" />
					<h:outputLabel value="#{fvalue2.unit}" />
				</h:column>
			</h:dataTable>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Update"></h:outputText>
			</f:facet>
			<h:commandButton value="Update"
				action="#{itemsVB.updateItem(itemTable_update.rowIndex)}">

			</h:commandButton>

		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Delete"></h:outputText>
			</f:facet>
			<h:commandButton value="Delete"
				action="#{itemsVB.deleteItem(itemTable_update.rowIndex)}">

			</h:commandButton>

		</h:column>
	</h:dataTable>
</ui:composition>