<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<h:outputStylesheet name="Generic.css" />
	<title>Facelet Title</title>
	<script language="javascript">
		function setSelectedFeature(dd) {
			/*var dropDown = document.getElementById("updatePage:" + dd);
			 var textBox =  document.getElementById("updatePage:" + selectedF);
			 textBox.text = dropDown.options[dd.selectedIndex].value;*/
			var textBox = document.getElementById("updatePage:selectedF");
			textBox.value = dd;
			//alert(dd);
		}

		function openList(num) {
			var size = document.getElementById('updatePage:main:' + num
					+ ':size');
			var list = document.getElementById('updatePage:main:' + num
					+ ':values');

			size.style.display = 'none';
			list.style.display = 'block';
		}
		function openSize(num) {
			var size = document.getElementById('updatePage:main:' + num
					+ ':size');
			var list = document.getElementById('updatePage:main:' + num
					+ ':values');

			size.style.display = 'block';
			list.style.display = 'none';
		}
	</script>
</h:head>
<h:body>
	<h:form id="updatePage">
		<h:panelGrid columns="2" columnClasses="allForms" style="">
			<h:panelGrid style="width: 400px;" columnClasses="allForms">
				<h:panelGrid id="Categories1">
					<h:dataTable value="#{classesPM.classDetailsList}"
						var="classDetails" binding="#{classTable}">
						<h:column>
							<h:selectOneMenu value="#{classDetails.selectedId}"
								rendered="#{classDetails.availableClasses.size() gt 0}">
								<f:selectItem itemLabel="Select Class" itemValue="-2" />
								<f:selectItems value="#{classDetails.availableClasses}"
									var="options" itemLabel="#{options.name}"
									itemValue="#{options.id}" />
								<f:ajax event="change" execute="@form"
									listener="#{classesVB.selectSubClass(classTable.rowIndex)}"
									render="@form" />

							</h:selectOneMenu>
						</h:column>
					</h:dataTable>

					<h:commandButton value="Fetch Items"
						action="#{featureMappingVB.updateList()}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</h:panelGrid>
				<h:inputText id="selectedF" value="#{featureMappingPM.selectedF}"
					style="display: none" />
				<h:panelGrid columnClasses="allForms">
					<h:panelGrid columns="2">
						<h:outputLabel value="Mapping" />
						<h:selectOneMenu value="#{featureMappingPM.selectedMappingId}">
							<f:selectItem itemLabel="Select Mapping" itemValue="-1" />
							<f:selectItems value="#{featureMappingPM.mappingList}"
								var="mapping" itemLabel="#{mapping.mappingName}"
								itemValue="#{mapping.mappingId}" />
							<f:ajax render="@form" execute="@form" event="change"
								listener="#{featureMappingVB.selectMapping}" />
						</h:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="3">
						<h:outputLabel value="Mapping Name" />
						<h:inputText
							value="#{featureMappingPM.mappingDetails.mappingName}" />
						<h:commandButton value="Save Mapping"
							action="#{featureMappingVB.saveFeatureMapping}">
						</h:commandButton>
						<h:commandButton value="Create Features"
							action="#{featureMappingVB.addFeaturesToCleanView}">
						</h:commandButton>
						<h:commandButton value="Add Items"
							action="#{featureMappingVB.pushItems}">
						</h:commandButton>
					</h:panelGrid>
					<h:dataTable
						value="#{featureMappingPM.featuresList.entrySet().toArray()}"
						var="feature" id='main'
						rendered="#{featureMappingPM.featuresList.size() > 0}"
						binding="#{table}">
						<h:column>
							<f:facet name="header">
								<h:commandButton value="All"
									action="#{featureMappingVB.selectAll}">
								</h:commandButton>
								<h:commandButton value="None"
									action="#{featureMappingVB.unSelectAll}">
								</h:commandButton>
							</f:facet>
							<h:selectBooleanCheckbox value="#{feature.value.relevent}">
								<f:ajax execute="@form" />
							</h:selectBooleanCheckbox>

						</h:column>
						<h:column>
							<f:facet name="header">Features</f:facet>
							<h:panelGrid columns="2">
								<h:outputText value="#{table.rowIndex}. #{feature.key}" />
								<h:selectOneMenu id="f_#{table.rowIndex}"
									value="#{feature.value.targetFeature}">
									<f:selectItem itemLabel="New_Feature" itemValue="New_Feature" />
									<f:selectItems value="#{featurePM.featuresList}"
										var="selectedfeature"
										itemLabel="#{selectedfeature.originalName}"
										itemValue="#{selectedfeature.originalName}" />
									<f:ajax execute="@form" event="change" />
								</h:selectOneMenu>
								<hr />
							</h:panelGrid>
						</h:column>
						<h:column>

							<f:facet name="header">Values</f:facet>
							<h:panelGrid>
								<h:outputLabel id="size" style="display: block"
									value="#{feature.value.values.size()}"
									onclick="openList('#{table.rowIndex}')" />
								<h:dataTable id="values"
									value="#{feature.value.values.entrySet().toArray()}"
									var="value" style="display: none"
									onclick="openSize('#{table.rowIndex}')">
									<h:column>
										<h:outputText value="#{value.key}" />
									</h:column>
								</h:dataTable>
								<hr />
							</h:panelGrid>
						</h:column>
					</h:dataTable>
				</h:panelGrid>
			</h:panelGrid>
			<h:panelGrid columnClasses="allForms" style="height:100%;top:20px;">
				<h:panelGrid columnClasses="allForms">
					<ui:include src="categoryBrowser.xhtml" />

					<ui:include src="brands.xhtml" />

					<ui:include src="featureGroups.xhtml" />

					<ui:include src="features.xhtml" />
					<h:panelGrid style="height: 10000px;"></h:panelGrid>
				</h:panelGrid>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</h:body>
</html>