<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="template/ui.xhtml">
<h:head>
	<title>Fetch Item Source</title>
<h:outputStylesheet name="Generic.css" />
	<h:outputScript name="js/text.js"></h:outputScript>
</h:head>
<h:body>
	<h:form id="listExtractor">
		<h:panelGrid>
			<h:outputLabel value="Soruce Link" />
			<h:inputText id="sourceLink"
				value="#{extractor.itmesSoruce.sourceLink}"></h:inputText>
			<h:commandButton value="Use Source Link"
				action="#{extractorVB.useSourceLink}">
				<f:ajax execute="@form" rendered="@form" />
			</h:commandButton>
			<h:outputLabel value="Html Code" />
			<input type="file" id="fileInput" />
			<h:inputTextarea style="width: 800px; height: 200px;" id="htmlCode"
				value="#{extractor.itmesSoruce.htmlContent}"></h:inputTextarea>
			<hr />

			<h:commandButton value="Proceed"
				actionListener="#{extractorVB.proceed}">
			</h:commandButton>
		</h:panelGrid>
	</h:form>
</h:body>
</html>