<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body> 
        <h:form id="updatePage"> 
            <h:panelGrid id="Categories">
                <h:dataTable value="#{classesPM.classDetailsList}" var="classDetails" binding="#{classTable}">
                    <h:column>
                        <h:selectOneMenu value="#{classDetails.selectedId}" rendered="#{classDetails.availableClasses.size() gt 0}">                            
                            <f:selectItem itemLabel="Select Class" itemValue="-2"/>
                            <f:selectItems value="#{classDetails.availableClasses}" 
                                           var="options" 
                                           itemLabel="#{options.name}"
                                           itemValue="#{options.id}"/>
                            <f:ajax event="change" 
                                    execute="@form" 
                                    listener="#{classesVB.selectSubClass(classTable.rowIndex)}"
                                    render="@form"/>

                        </h:selectOneMenu>
                    </h:column>
                </h:dataTable>       

                <h:commandButton value="Fetch Items" action="#{featureUpdateVB.updateList()}">
                    <f:ajax execute="@form" render="@form" />                    
                </h:commandButton>
            </h:panelGrid>
            <h:panelGrid>
                <h:dataTable value="#{featureUpdatePM.featuresList.entrySet().toArray()}" var="feature" rendered="#{featureUpdatePM.featuresList.size() > 0}">
                    <h:column>    
                        <f:facet name="header">Features</f:facet>
                        <h:outputText value="#{feature.key}"/>     
                        <hr/>
                    </h:column>
                    <h:column >
                        <f:facet name="header">Values</f:facet>
                        <h:outputLabel value="#{feature.value.values.size()}"/>
                        <h:dataTable value="#{feature.value.values.entrySet().toArray()}" var="value" rendered="false">
                            <h:column>
                                <h:outputText value="#{value.key}"/>
                            </h:column>
                        </h:dataTable>
                        <hr/>
                    </h:column>
                </h:dataTable>
            </h:panelGrid>              
        </h:form > 
    </h:body>
</html>

