<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <script language="javascript">
            function setSelectedFeature(dd)
            {
                /*var dropDown = document.getElementById("updatePage:" + dd);
                 var textBox =  document.getElementById("updatePage:" + selectedF);
                 textBox.text = dropDown.options[dd.selectedIndex].value;*/
                var textBox = document.getElementById("updatePage:selectedF");
                textBox.value = dd;
                //alert(dd);
            }

            function openList(num)
            {
                var size = document.getElementById('updatePage:main:' + num + ':size');
                var list = document.getElementById('updatePage:main:' + num + ':values');

                size.style.display = 'none';
                list.style.display = 'block';
            }
            function openSize(num)
            {
                var size = document.getElementById('updatePage:main:' + num + ':size');
                var list = document.getElementById('updatePage:main:' + num + ':values');

                size.style.display = 'block';
                list.style.display = 'none';
            }
        </script>
    </h:head>
    <h:body> 
        <h:form id="updatePage"> 
            <h:panelGrid id="Categories">
                <h:dataTable value="#{classesPM.classDetailsList}" var="classDetails" binding="#{classTable}">
                    <h:column>
                        <h:selectOneMenu value="#{classDetails.selectedId}" rendered="#{classDetails.availableClasses.size() gt 0}">                            
                            <f:selectItem itemLabel="Select Class" itemValue="-2"/>
                            <f:selectItems value="#{classDetails.availableClasses}" 
                                           var="options" 
                                           itemLabel="#{options.name}"
                                           itemValue="#{options.id}"/>
                            <f:ajax event="change" 
                                    execute="@form" 
                                    listener="#{classesVB.selectSubClass(classTable.rowIndex)}"
                                    render="@form"/>

                        </h:selectOneMenu>
                    </h:column>
                </h:dataTable>       

                <h:commandButton value="Fetch Items" action="#{featureUpdateVB.updateList()}">
                    <f:ajax execute="@form" render="@form" />                    
                </h:commandButton>
            </h:panelGrid>
            <h:commandButton value="Update Sequence" action="#{featureUpdateVB.addOnlyReleventFeatures()}">
                    <f:ajax execute="@form" render="@form" />                    
            </h:commandButton>
            <h:inputText id="selectedF" value="#{featureUpdatePM.selectedF}" style="display: none"/>
            <h:panelGrid>
                <h:dataTable value="#{featureUpdatePM.featuresList.entrySet().toArray()}" 
                             var="feature" 
                             id='main'
                             rendered="#{featureUpdatePM.featuresList.size() > 0}"
                             binding="#{table}">
                    <h:column >  
                        <f:facet name="header">Features</f:facet>
                        <h:panelGrid rendered="#{feature.value.relevent}" columns="7">
                            <h:selectBooleanCheckbox value="#{feature.value.relevent}">
                                <f:ajax render="@form" />
                            </h:selectBooleanCheckbox>

                            <h:outputText value="#{table.rowIndex}. #{feature.key}"/> 
                            <h:selectOneMenu id="f_#{table.rowIndex}"
                                             onchange="setSelectedFeature(this.value)">                            
                                <f:selectItem itemLabel="Feature List" itemValue="-2"/>
                                <f:selectItems value="#{featureUpdatePM.featuresList.entrySet().toArray()}"                                            
                                               var="selectedfeature" 
                                               itemLabel="#{selectedfeature.key}"
                                               itemValue="#{selectedfeature.key}"/>

                            </h:selectOneMenu>
                            <h:commandButton value="Merge" 
                                             action="#{featureUpdateVB.mergeFeatures(feature.key)}"
                                             onclick="setSelectedFeatuure(f_#{table.rowIndex})">
                                <f:ajax execute="@form" render="@form" />
                            </h:commandButton>
                            <h:selectOneMenu value="#{feature.value.defaultPriority}">
                                <f:selectItems value="#{featureUpdatePM.featurePriorities}"                                            
                                               var="priority" 
                                               itemLabel="#{priority}"
                                               itemValue="#{priority}"/>
                            </h:selectOneMenu>
                            <h:inputText value="#{feature.value.name}"/>
                            <hr/>
                        </h:panelGrid>
                    </h:column>
                    <h:column>

                        <f:facet name="header">Values</f:facet>
                        <h:panelGrid rendered="#{feature.value.relevent}" >
                            <h:outputLabel id="size" 
                                           style="display: block"
                                           value="#{feature.value.values.size()}" 
                                           onclick="openList('#{table.rowIndex}')"/>
                            <h:dataTable id="values" 
                                         value="#{feature.value.values.entrySet().toArray()}" 
                                         var="value" 
                                         style="display: none"
                                         onclick="openSize('#{table.rowIndex}')">
                                <h:column>
                                    <h:outputText value="#{value.key}"/>
                                </h:column>
                            </h:dataTable>
                            <hr/>
                        </h:panelGrid>
                    </h:column>
                </h:dataTable>
            </h:panelGrid>
        </h:form > 
    </h:body>
</html>