<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
 <h:outputStylesheet name="Generic.css"/>

<h:head>

<f:metadata>
		<f:viewParam name="category" value="#{valuesPM.selectedCategoryParam}" />
		<f:viewParam name="feature" value="#{valuesPM.selectedFeatureParam}" />
		<f:event type="preRenderView" listener="#{valuesPM.init}" />
	</f:metadata>

</h:head>
<h:body>
	<h:form id="valuesUpdate" >
		<h:outputStylesheet />
		<h:panelGroup>
			<ui:include src="values.xhtml" />
			
		</h:panelGroup>
	</h:form>

</h:body>
</html>