<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
 <h:outputStylesheet name="Generic.css"/>
	<h:outputLabel value="Category"/>
	<h:outputLabel value="#{valuesPM.selectedCategory.categoryName}" />
	<br />
	<h:outputLabel value="Feature"/>
	<h:outputLabel value="#{valuesPM.selectedFeature.featureId}" />
	<br />
	
	<h:dataTable border="1" value="#{valuesPM.valueList}" var="value_"
		binding="#{valueTable1}">
		<h:column>
			<f:facet name="header">
				<h:outputText value="Name"></h:outputText>
			</f:facet>
			<h:inputText value="#{value_.vDetails.value}" />
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Weight"></h:outputText>
			</f:facet>
			<h:inputText value="#{value_.vDetails.weight}" />
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Description"></h:outputText>
			</f:facet>
			<h:inputText value="#{value_.vDetails.description}" />
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Update"></h:outputText>
			</f:facet>
			<h:commandButton value="Update"
				action="#{valuesVB.updateValue(valueTable1.rowIndex)}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Delete"></h:outputText>
			</f:facet>
			<h:commandButton value="Delete"
				action="#{itemsVB.deleteItem(valueTable1.rowIndex)}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
		</h:column>
	</h:dataTable>
	
	<br />
	<hr />
	
	<h:outputLabel value="Add a value" />
	
	<br />
	<h:outputText value="Name"></h:outputText>
	<h:inputText value="#{valuesPM.newValue.value}" />

<br />
	<h:outputText value="Weight"></h:outputText>
	<h:inputText value="#{valuesPM.newValue.weight}" />
<br />
	<h:outputText value="Description"></h:outputText>
	<h:inputText value="#{valuesPM.newValue.description}" />

	<h:commandButton value="Add Value" action="#{valuesVB.addValue}">
		<f:ajax execute="@form" render="@form" />
	</h:commandButton>

</ui:composition>