<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<script>
		// On mouse-over, execute myFunction
		function clickMe(elem, msg) {
			var r = confirm(msg);
			if (r == true) {
				document.getElementById(elem).click(); // Click on the checkbox
			} else {

			}
		}
	</script>

	<h:panelGrid class="brandPanel" id="brandsPanel">
		<h:outputText value="Brands"
			style="font-weight: bold; font-size: 25px; margin-left: 45%;" />
		<h:outputText value="Add Brand" />
		<h:panelGrid columns="4">

			<h:outputLabel value="Brand Name" />
			<h:inputText value="#{brandPM.newBrand.brandName}" />
			<h:outputLabel value="Description" />
			<h:inputText value="#{brandPM.newBrand.description}" />
		</h:panelGrid>
		<h:commandButton value="Add Brand" action="#{brandVB.addBrand}">
			<f:ajax execute="@form" render="@form" />
		</h:commandButton>

		<br />


		<h:dataTable id="brandsTable" value="#{brandPM.brandsList}" var="b" 
			binding="#{table1}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Brand Name" />
				</f:facet>
				<h:inputText value="#{b.brandName}" />

			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:inputText value="#{b.description}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Update" />
				</f:facet>
				<h:commandButton value="Update"
					action="#{brandVB.updateBrand(table1.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Delete" />
				</f:facet>
				<h:outputLabel value="Delete"
					style="padding: 5px; background-color: red; font-size: 16px; font-weight: bold;"
					onclick="clickMe('categories:brandsTable:#{table1.rowIndex}:deleteBrand','Delete Brand')" />
				
				<h:commandButton value="Delete" id="deleteBrand" style="display:none;"
					action="#{brandVB.deleteBrand(table1.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
		</h:dataTable>
	</h:panelGrid>
</ui:composition>