<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
	<f:metadata>
		<f:viewParam name="item1" value="#{comparePM.item1input}" />
		<f:viewParam name="item2" value="#{comparePM.item2input}" />
		<f:viewParam name="category" value="#{comparePM.categoryIdInput}" />
		<f:event type="preRenderView" listener="#{comparePM.init}" />

	</f:metadata>
</h:head>
<h:body>
	<h:form id="categories" style="width:100%">
		<h:panelGrid columns="2" columnClasses="allForms">
			<h:panelGrid>
				<ui:include src="categoryBrowser.xhtml" />
			</h:panelGrid>
			<h:panelGrid style="">
				<ui:include src="compareitems.xhtml" />
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</h:body>
</html>