<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<br />



	<h:panelGrid id="allFeatures" columns="3" style="margin: 0 auto;">
		<h:selectBooleanCheckbox value="#{comparePM.showRandomWeights}">
		Show Random Values
			<f:ajax execute="@form" render="@form" listener="#{compareVB.showHidePage}"/>
		</h:selectBooleanCheckbox>
		<h:selectOneMenu value="#{comparePM.selectedItemId1}">
			<f:selectItem itemLabel="Select Item" itemValue="" />
			<f:selectItems value="#{comparePM.itemsList}" var="itemList1"
				itemLabel="#{itemList1.modelName}" itemValue="#{itemList1.itemId}" />
			<f:ajax event="change" execute="@form"
				listener="#{compareVB.updateItem1}" render="@form" />
		</h:selectOneMenu>

		<h:selectOneMenu value="#{comparePM.selectedItemId2}">
			<f:selectItem itemLabel="Select Item" itemValue="" />
			<f:selectItems value="#{comparePM.itemsList}" var="itemList2"
				itemLabel="#{itemList2.modelName}" itemValue="#{itemList2.itemId}" />
			<f:ajax event="change" execute="@form"
				listener="#{compareVB.updateItem2}" render="@form" />
		</h:selectOneMenu>

		<h:panelGrid
			rendered="#{comparePM.item1!=null or comparePM.item2!=null}">
			<h:panelGrid style="height: 210px">
			</h:panelGrid>
			<h:outputLabel value="." />
			<h:dataTable border="0" value="#{comparePM.features}" var="featureD"
				binding="#{featureNameTable1}">
				<h:column>
					<f:facet name="header">
						<h:outputText value=""></h:outputText>
					</f:facet>
					<h:panelGrid style="height: 50px;" columns="2">
						<h:outputText value="#{featureD.featureName}"
							style="font-weight: bold;" />
						<h:outputText
							value="#{featureD.unit eq ''?'':'('}#{featureD.unit eq ''?'':featureD.unit}#{featureD.unit eq ''?'':')'}"
							style="font-size: small" />
					</h:panelGrid>
				</h:column>
			</h:dataTable>
		</h:panelGrid>
		<h:panelGrid id="item1Details">
			<h:panelGrid style="height: 210px;overflow: scroll">
				<h:outputLabel value="#{comparePM.item1.item.modelName}"
					style="font-size: large;" />
				<ui:repeat value="#{comparePM.item1.images}" var="image"
					style="height: 200px; overflow: scroll">
					<h:column>
						<h:graphicImage style="width: 200px; height: 200px"
							library="#{comparePM.item1.item.primaryImages}/#{comparePM.item1.item.itemId}"
							name="#{image}" />
					</h:column>
				</ui:repeat>
			</h:panelGrid>

			<h:dataTable id="item1DetailsTable" border="0"
				value="#{comparePM.item1.dataList}" var="featuredata1"
				binding="#{featureDataTable1}">
				<h:column>

					<h:panelGrid style="height: 50px;">
						<h:outputText value="#{featuredata1.value}" />
						<h:panelGrid rendered="#{comparePM.showRandomWeights == false}"
							style="margin: 5px; height: 15px; width: #{featuredata1.weightPercent}px; background-color: #{featuredata1.color}">
						</h:panelGrid>
						<h:panelGrid rendered="#{comparePM.showRandomWeights}"
							style="margin: 5px; height: 15px; width: #{comparePM.randomWeight}px; background-color: #{featuredata1.color}">
						</h:panelGrid>
					</h:panelGrid>
				</h:column>
			</h:dataTable>
		</h:panelGrid>


		<h:panelGrid id="item2Details"
			style="height: 210px;float:left;overflow: scroll">

			<h:outputLabel value="#{comparePM.item2.item.modelName}"
				style="font-size: large;" />

			<ui:repeat value="#{comparePM.item2.images}" var="image">
				<h:column>
					<h:graphicImage style="width: 200px; height: 200px"
						library="#{comparePM.item2.item.primaryImages}/#{comparePM.item2.item.itemId}"
						name="#{image}" />
				</h:column>

			</ui:repeat>

			<h:dataTable id="item2DetailsTable" border="0"
				value="#{comparePM.item2.dataList}" var="featuredata2"
				binding="#{featureDataTable2}">
				<h:column>

					<h:panelGrid style="height: 50px;">
						<h:outputText value="#{featuredata2.value}" />
						<h:panelGrid
							style="margin: 5px; height: 15px; 
							width: #{comparePM.showRandomWeights == false ? featuredata2.weightPercent:comparePM.randomWeight}px; background-color: #{featuredata2.color}">
						</h:panelGrid>						
					</h:panelGrid>
				</h:column>
			</h:dataTable>
		</h:panelGrid>
	</h:panelGrid>

	<script>
		// On mouse-over, execute myFunction
		function clickRefresh() {
			document.getElementById("campare_form_1:refresh").click(); // Click on the checkbox
		}
	</script>
</ui:composition>