<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
	
	
	<h:panelGrid class="featureGroups" id="featureGroupsPanel">
	<h:outputText value="Feature Groups" style="font-weight: bold; font-size: 25px; margin-left: 45%;" />
		<h:panelGrid columns="4">
			<h:outputText value="Group Name" />
			<h:inputText value="#{featureGroupPM.newGroup.groupId}" />
			<h:outputText value="Description" />
			<h:inputText value="#{featureGroupPM.newGroup.description}" />
		</h:panelGrid>
		<h:commandButton value="Add Group" action="#{featureGroupVB.addGroup}">
			<f:ajax execute="@form" render="@form" />
		</h:commandButton>

		<h:dataTable id="groupsTable" value="#{featureGroupPM.groupsList}" var="group"
			binding="#{groupTable}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Group Name"></h:outputText>
				</f:facet>
				<h:inputText value="#{group.groupDetails.groupId}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Description"></h:outputText>
				</f:facet>
				<h:inputText value="#{group.groupDetails.description}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Update"></h:outputText>
				</f:facet>
				<h:commandButton value="Update"
					action="#{featureGroupVB.updateGroup(groupTable.rowIndex)}">
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Delete"></h:outputText>
				</f:facet>
				<h:outputLabel value="Delete"
					style="padding: 5px; background-color: red; font-size: 16px; font-weight: bold;"
					onclick="clickMe('categories:groupsTable:#{groupTable.rowIndex}:deleteGroup','Delete Group')" />
				<h:commandButton value="Delete" id="deleteGroup" style="display:none;"
					action="#{featureGroupVB.deleteGroup(groupTable.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
		</h:dataTable>

	</h:panelGrid>
</ui:composition>