<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:outputStylesheet name="Generic.css"/>
<h:head>
	<f:metadata>
		<f:viewParam name="category"
			value="#{categoryDetailsPM.selectedCategoryParam}" />
		<f:event type="preRenderView" listener="#{categoryDetailsPM.init}" />
	</f:metadata>
	<script language="javascript">
		function showTable(num) {
			//test:items_table:0:values_table
			/* var label_ = document.getElementById('test:items_table:' + num
					+ ':label'); */
			var table = document.getElementById('test:items_table:' + num
					+ ':values_table');
			
			table.style.display = 'block';
		}
		function hideTable(num) {
			/* var label_ = document.getElementById('test:items_table:' + num
					+ ':label'); */
			var table = document.getElementById('test:items_table:' + num
					+ ':values_table');
			
			table.style.display = 'none';
		}
		
		function showAddNewItem(){
			var elem = document.getElementById('test:addNewItem');			
			elem.style.display = 'block';
			var hide = document.getElementById('test:hideLabel');			
			table.style.display = 'block';
		}
		function hideAddNewItem(){
			var elem = document.getElementById('test:addNewItem');			
			elem.style.display = 'none';
			var hide = document.getElementById('test:hideLabel');			
			table.style.display = 'none';
			
		}
		function showImageList(num) {			
			var images = document.getElementById('test:items_table:' + num + ':imageList');			
			images.style.display = 'block';
		}
		function hideImageList(num) {			
			var images = document.getElementById('test:items_table:' + num + ':imageList');			
			images.style.display = 'none';
		}
	</script>
</h:head>
<h:body>
	<h:form id="categories">
		<ui:include src="categoryBrowser.xhtml" />		
	</h:form>
	<h:form id="test" enctype="multipart/form-data">
		<h:outputStylesheet />
		<h:panelGroup id="allComponents">

			<ui:include src="items.xhtml" />
		</h:panelGroup>
	</h:form>
</h:body>
</html>