<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	<script>
		// On mouse-over, execute myFunction
		function clickMe(elem, msg) {
			var r = confirm(msg);
			if (r == true) {
				document.getElementById(elem).click(); // Click on the checkbox
			} else {

			}
		}
	</script>
	
	<h:panelGrid columns="2" columnClasses="topAligned"
		style="padding-top:5px;">
		<h:panelGrid
			style="float:left; overflow: 
				hidden;height: 100px; 
				padding-top:20px;
				background-color: lightblue;">

			<h:outputText value="Add Items"
				style="font-size:16px; font-weight: bold;padding: 5px; padding-left: 40%" />

			<br />
			<h:panelGrid columns="2">
				<h:outputText value="Model Name" />
				<h:inputText value="#{itemsPM.PMNewItem.iDetails.modelName}" />

				<h:outputText value="Brand" />
				<h:selectOneMenu value="#{itemsPM.PMNewItem.iDetails.brandId}"
					var="b2" border="1">
					<f:selectItem itemLabel="Select Brand" itemValue="-2" />
					<f:selectItems value="#{brandPM.brandsList}" var="brnd"
						itemLabel="#{brnd.brandName}" itemValue="#{brnd.brandId}" />
				</h:selectOneMenu>
			</h:panelGrid>

			<ui:repeat value="#{itemsPM.PMNewItem.featureValues}" var="nfvalue"
				style="float:left;">
				<h:panelGrid columns="10">
					<h:panelGrid columns="3">
						<h:column>
							<h:outputLabel value="#{nfvalue.feature}" />
						</h:column>

						<h:column>
							<h:inputText value="#{nfvalue.value}"
								style="border: solid 1px black; float:right;" />
						</h:column>
						<h:column>
							<h:outputLabel value="#{nfvalue.unit}"
								style="padding-right: 100px; float:right;" />
						</h:column>
					</h:panelGrid>
				</h:panelGrid>
			</ui:repeat>
			<h:commandButton value="Add Item" action="#{itemsVB.addItem}">

			</h:commandButton>
		</h:panelGrid>
		<h:panelGrid
			style="margin-bottom: 8000px; background-color: lightgray; padding-top:10px;">
			<h:outputLabel value="Items List"
				style="font-size:16px; font-weight: bold; padding: 2px; padding-left:45%" />
			<h:dataTable border="1" value="#{itemsPM.PMItemsList}" var="item"
				id="items_table" binding="#{itemTable_update}">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Model Name"></h:outputText>
					</f:facet>
					<h:inputText value="#{item.iDetails.modelName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Brand"></h:outputText>
					</f:facet>
					<h:selectOneMenu value="#{item.iDetails.brandId}" border="1">
						<f:selectItem itemLabel="Select Brand" itemValue="-2" />
						<f:selectItems value="#{brandPM.brandsList}" var="brnd3"
							itemLabel="#{brnd3.brandName}" itemValue="#{brnd3.brandId}" />
					</h:selectOneMenu>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Images"></h:outputText>
					</f:facet>
					<h:inputFile id="file" value="#{item.file}" />
					<h:commandButton value="Upload" action="#{itemsVB.upload(item)}">
						<f:ajax render="@form" execute="@form" />
					</h:commandButton>

					<h:panelGrid columns="2" style="font-weight: bold; width:100%; ">
						<h:panelGrid
							style="display: block; float: left; background-color: #AFF5F5;">
							<h:outputLabel id="hideImages" value="Show Images"
								style="float: right;"
								onclick="showImageList(#{itemTable_update.rowIndex})" />
						</h:panelGrid>
						<h:panelGrid
							style="display: block; float: right; background-color: #AFF5F5;">
							<h:outputLabel id="showImages" value="Hide Images"
								style="float: right;"
								onclick="hideImageList(#{itemTable_update.rowIndex})" />
						</h:panelGrid>
					</h:panelGrid>
					<h:dataTable id="imageList" value="#{item.images}" var="image" 
								 style="display:none">
						<h:column>
							<h:graphicImage style="width: 200px; height: 200px"
								library="#{item.iDetails.primaryImages}/#{item.iDetails.itemId}"
								name="#{image}" />
						</h:column>
					</h:dataTable>

				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Features"></h:outputText>
					</f:facet>

					<h:panelGrid style="display: block;">

						<h:panelGrid columns="2" style="font-weight: bold; width:100%; ">

							<h:panelGrid
								style="float: left;width: auto; display: block; background-color: #AFF5F5;">
								<h:outputLabel id="show" value="Show"
									onclick="showTable(#{itemTable_update.rowIndex})" />
							</h:panelGrid>

							<h:panelGrid
								style="display: block; float: right; background-color: #AFF5F5;">
								<h:outputLabel id="hide" value="Hide" style="float: right;"
									onclick="hideTable(#{itemTable_update.rowIndex})" />
							</h:panelGrid>

						</h:panelGrid>

						<h:dataTable value="#{item.featureValues}" id="values_table"
							binding="#{itemDetailTable1}" var="fvalue2" style="display: none">
							<h:column>
								<h:outputLabel value="#{fvalue2.feature}" />
								<h:inputText value="#{fvalue2.value}" />
								<h:outputLabel value="#{fvalue2.unit}" />
							</h:column>
						</h:dataTable>
					</h:panelGrid>


				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Update"></h:outputText>
					</f:facet>
					<h:commandButton value="Update"
						action="#{itemsVB.updateItem(itemTable_update.rowIndex)}">

					</h:commandButton>

				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Delete"></h:outputText>
					</f:facet>
					
					<h:outputLabel value="Delete"
					style="padding: 5px; background-color: red; font-size: 16px; font-weight: bold;"
					onclick="clickMe('test:items_table:#{itemTable_update.rowIndex}:deleteItem','Delete Item')" />
				
				
					<h:commandButton value="Delete" id="deleteItem" style="display: none;"
						action="#{itemsVB.deleteItem(itemTable_update.rowIndex)}">
						<f:ajax render="@form" /> 
					</h:commandButton>

				</h:column>
			</h:dataTable>
		</h:panelGrid>
	</h:panelGrid>
</ui:composition>