<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:outputStylesheet name="Generic.css" />

	<h:panelGrid style="margin-bottom: 10px;">

		<h:outputLabel value="Category"
			style="font-size:12px; font-weight: bold; padding: 2px;" />
		<h:outputLabel value="#{valuesPM.selectedCategory.categoryName}"
			style="font-size:16px; font-weight: bold; padding: 2px; margin-left: 15px;" />
		<br />
		<h:outputLabel value="Feature"
			style="font-size:12px; font-weight: bold; padding: 2px;" />
		<h:outputLabel value="#{valuesPM.selectedFeature.featureId}"
			style="font-size:16px; font-weight: bold; padding: 2px;  margin-left: 15px;" />
	</h:panelGrid>
	<br />
	<h:panelGrid style="margin-bottom: 10px;">
		<h:outputLabel value="Value List"
			style="font-size:16px; font-weight: bold; padding-left: 45%; margin-left: 15px;" />
		<h:dataTable id="table_values" border="1"
			value="#{valuesPM.groupedValueListByName}" var="group"
			binding="#{valuesGroupTable1}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Value Name"></h:outputText>
				</f:facet>
				<h:inputText value="#{group.valueName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Value Weight"></h:outputText>
				</f:facet>
				<h:inputText value="#{group.groupWeight}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Description"></h:outputText>
				</f:facet>
				<h:inputText value="#{group.desc}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Update"></h:outputText>
				</f:facet>
				<h:commandButton value="Update"
					action="#{valuesVB.updateNameAndWeight(valuesGroupTable1.rowIndex)}">
					<f:ajax execute="@form" render="@form" />
				</h:commandButton>
			</h:column>
			<h:column>
				<h:dataTable id="table_fixed_values" value="#{group.listOfValues}"
					var="value_" binding="#{valueTable1}">
					<h:column>
						<h:inputText value="#{value_.vDetails.value}" />
					</h:column>
					<h:column>
						<h:selectOneMenu value="#{value_.vDetails.valueName}">
							<f:selectItems value="#{valuesPM.groupedValueListByName}"
								var="options" itemLabel="#{options.valueName}"
								itemValue="#{options.valueName}" />
							<f:ajax event="change" execute="@form"
								listener="#{valuesVB.updateValue(valuesGroupTable1.rowIndex , valueTable1.rowIndex)}"
								render="@form" />
						</h:selectOneMenu>
					</h:column>
					<h:column>
						<h:commandButton value="Update"
							action="#{valuesVB.updateValue(valuesGroupTable1.rowIndex , valueTable1.rowIndex)}">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
					</h:column>
					<h:column>
						<h:commandButton value="Delete"
							action="#{valuesVB.deleteValue(valuesGroupTable1.rowIndex,valueTable1.rowIndex)}">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</h:column>
		</h:dataTable>
	</h:panelGrid>
	<br />
	<hr />
	<br /><br />
	<h:outputLabel value="Add a value"
		style="font-size:16px; font-weight: bold; padding-left: 45%; " />
	<h:panelGrid style="widht: 100%;">
		<br />
		<h:panelGrid columns="10">
			<h:outputText value="Name" style="font-weight: bold; margin-left: 10px;" />
			<h:inputText value="#{valuesPM.newValue.value}" />

			<h:outputText value="Value Name" style="font-weight: bold; margin-left: 10px;"/>
			<h:selectOneMenu id="add_value_groups"
				value="#{valuesPM.newValue.valueName}">
				<f:selectItems value="#{valuesPM.groupedValueListByName}"
					var="options" itemLabel="#{options.valueName}"
					itemValue="#{options.valueName}" />
			</h:selectOneMenu>

			
			<h:outputText value="Weight" style="font-weight: bold; margin-left: 10px;" />
			<h:inputText value="#{valuesPM.newValue.weight}" />
			
			<h:outputText value="Description" style="font-weight: bold; margin-left: 10px;"/>
			<h:inputText value="#{valuesPM.newValue.description}" />

			<h:commandButton value="Add Value" action="#{valuesVB.addValue}" 
							style=" margin-left: 10px;">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
		</h:panelGrid>
	</h:panelGrid>
	<hr />
	<br /><br />
	<h:outputText value="New Group" 
	style="font-size:16px; font-weight: bold; padding-left: 45%; " />
	
	<h:panelGrid style="width: auto" columns="10">
		
		
		<h:outputText value="Group Value Name" style=" font-weight: bold; margin-left: 10px;"/>
		<h:inputText value="#{valuesPM.newGroupValue.valueName}" />

		<h:outputText value="Group Value Weight" style="font-weight: bold; margin-left: 10px;"/>
		<h:inputText value="#{valuesPM.newGroupValue.groupWeight}" />

		<h:outputText value="Group Value Description" style="font-weight: bold; margin-left: 10px;"/>
		<h:inputText value="#{valuesPM.newGroupValue.desc}" />

		<h:commandButton value="Create Group"
			action="#{valuesVB.createNewGroup}"
			style=" margin-left: 10px;">
			<f:ajax execute="@form" render="table_values add_value_groups" />
		</h:commandButton>
	</h:panelGrid>
</ui:composition>